{% extends 'base.html' %} {% block title %}授权{% endblock %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/auth.css') }}"> {% endblock %} {% block content %}
<noscript>请启用javaScript</noscript>
<div class="page" id="page">
    <div class="step-box">
        <img src="{{ url_for('static', filename='assets/image/success.png') }}" alt class="step-img" />
        <div class="step-line"></div>
        <img src="{{ url_for('static', filename='assets/image/default.png') }}" alt class="step-img" />
    </div>
    <div class="content" id="start">
        <div class="select-box">
            <div class="options options-active" name="sacn">扫码</div>
            <div class="options" name="code">授权码</div>
        </div>
        <div id="sacn">
            <div class="qrcode">
                <!--img src="../../static/assets/image/back.png" alt="" class="qrcode"-->
                <img src="data:image/png;base64,{{ qrimg }}" alt="" class="qrcode">
            </div>
            <div class="txt-c mar-t">
                请使用项目管理小程序扫描二维码授权
            </div>
            <div class="mark">
                {{ msgCode }}提示：在项目管理平台小程序-工作台-机构-相关设备条目中点击“扫码”或在相关设备条目的授权码页面中点“扫码授权”来进行扫码授权
            </div>
        </div>
        <div id="code">
            <div class="form">
                <label for="code">
                        授权码：
                    </label>
                <input type="text" placeholder="请输入设备授权码" class="form-input">
            </div>
            <button type="button" class="next" id="next">下一步</button>
            <div class="mark">
                提示：在项目管理平台小程序-工作台-机构-相关设备条目中点击“授权码”来查看授权码； 在项目管理平台web-硬件授权-机构-设备-相关设备条目中查看授权码
            </div>
        </div>
    </div>
    <div class="content" id="success">
        <div class="success">
            <img src="{{ url_for('static', filename='assets/image/result1.png') }}" alt="" srcset="">
        </div>
        <div class="txt-c">感谢您的耐心配合</div>
        <div class="txt-c">已完成初始化设置</div>
        <button type="button" class="next" id="submit" style="margin-top: 100px;">开始使用</button>
    </div>

    <div class="content" id="error">
        <div class="success">
            <img src="{{ url_for('static', filename='assets/image/result2.png') }}" alt="" srcset="">
        </div>
        <div class="txt-c">初始化出现了点问题</div>
        <div class="txt-c">请重新尝试初始化</div>
        <button type="button" class="next" style="margin-top: 100px;" id="reset">重新初始化</button>
    </div>

</div>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/pages/auth.js') }}"></script>
{% endblock %}