{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/public/iconfont.css') }}">
{% endblock %}

{% block content %}
    <div class="page">
        <div class="logo-box">
            <img src="{{ url_for('static', filename='assets/image/logo.png') }}" alt="" class="logo">
            <span class="title">智能AI分析系统</span>
        </div>
        <div class="login-box">
			<h2 class="txt-c">{% block title %}登录{% endblock %}</h2>
			<!-- <div class="input-box">
				<label for="username">
					<span class="iconfont icon-zhanghao1"></span>
				</label>
				<input type="text" placeholder="请输入用户名" class="form-input" id="username">
			</div> -->
			<div class="input-box">
				<label for="password">
					<span class="iconfont icon-yanzhengma"></span>
				</label>
				<input type="password" placeholder="请输入密码" class="form-input" id="password" value="">
			</div>
			<button class="submit" id="submit">登录</button>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/pages/login.js') }}"></script>
{% endblock %}