@font-face {
  font-family: "iconfont"; /* Project id 2881210 */
  src: url('iconfont.woff2?t=1640138377015') format('woff2'),
       url('iconfont.woff?t=1640138377015') format('woff'),
       url('iconfont.ttf?t=1640138377015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-31shezhi:before {
  content: "\e65d";
}

.icon-a-shinshoptuichudenglu:before {
  content: "\e65e";
}

.icon-xiugaimima:before {
  content: "\e65c";
}

.icon-shezhi1:before {
  content: "\e65b";
}

.icon-shezhi:before {
  content: "\e65a";
}

.icon-wangkou:before {
  content: "\e656";
}

.icon-xiangmu:before {
  content: "\e657";
}

.icon-gengxin:before {
  content: "\e64c";
}

.icon-pingtaixinxi:before {
  content: "\e64d";
}

.icon-ziwangyanma-12:before {
  content: "\e64e";
}

.icon-DNS:before {
  content: "\e64f";
}

.icon-wangguandizhi:before {
  content: "\e650";
}

.icon-jigou:before {
  content: "\e651";
}

.icon-tongdaoxinxi:before {
  content: "\e652";
}

.icon-dizhi1:before {
  content: "\e653";
}

.icon-IPdizhi:before {
  content: "\e654";
}

.icon-xitongxinxi:before {
  content: "\e655";
}

.icon-guanbi:before {
  content: "\e61c";
}

.icon-fanhuitubiao:before {
  content: "\e61b";
}

.icon-gongzuotai1:before {
  content: "\e619";
}

.icon-wode1:before {
  content: "\e61a";
}

.icon-zhanghao1:before {
  content: "\e618";
}

.icon-yanzhengma:before {
  content: "\e617";
}

.icon-chenggong:before {
  content: "\e60a";
}

.icon-dingwei:before {
  content: "\e60b";
}

.icon-dizhi:before {
  content: "\e60c";
}

.icon-saoma:before {
  content: "\e60d";
}

.icon-gongzuotai:before {
  content: "\e60e";
}

.icon-wode:before {
  content: "\e60f";
}

.icon-shibai:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e611";
}

.icon-zhanghao:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-zhankai:before {
  content: "\e614";
}

.icon-xiala:before {
  content: "\e615";
}

.icon-shuaxin:before {
  content: "\e616";
}

